* {
    margin: 0;
    padding: 0;
    color: rgb(104, 104, 104);
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrap {
    max-width: 1290px;
    margin: 0 auto;
}

@font-face {
    font-family: 'light';
    src: url('../font/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'thin';
    src: url('../font/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}


/* hd--------- */

header>div .top,
header>div .left {
    position: fixed;
}

.scroll_point {
    position: absolute;
    bottom: -100px;
}

.scroll_point>div {
    height: 150px;
    border-left: 0.4px solid gray;
}

nav ul {
    position: fixed;
    top: 350px;
    right: 250px;
    z-index: 100;
}

nav ul li {
    margin: 10px 0px;
    text-align: left;
    color: rgb(199, 199, 199);
    transition: all 0.6s;
}

.intro {
    font-family: thin;
    height: 100vh;
    position: relative;
}

.cont_1 {
    position: absolute;
    top: 330px;
    left: 250px;
    width: 320px;
    height: 300px;
    float: left;
    /* border: 1px solid rgb(104, 104, 104); */
    /* background-color: red; */
}

.cont_1 h2 {
    font-size: 20pt;
    margin-bottom: 20px;
    letter-spacing: -3px;
    font-weight: lighter;
}

.cont_1 p {
    letter-spacing: -1.2px;
    font-size: 10pt;
    line-height: 22px;

}

.cont_1 span {
    font-weight: bolder;
}

.intro_btn {
    position: absolute;
    top: 200px;
    left: 0;
}

.intro_btn ul li {
    float: left;
}

.intro_btn ul li button {
    border: 0;
    border-top: 0.1px solid gray;
    border-left: 0.1px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
}

.cont_2 {
    width: 400px;
    height: 500px;
    background-color: red;
    position: absolute;
    top: 130px;
    right: 250px;
    float: left;
}

nav ul li:hover {
    color: gray;
}

/* privacy----- */

.privacy {
    height: 100vh;
    position: relative;
}

.privacy p {
    font-size: 12pt;
}

.privacy .ch_image {
    position: absolute;
    top: 240px;
    left: 250px;
    width: 350px;
    height: 450px;
    background-color: red;
}

.privacy .p_cont {
    font-weight: lighter;
    width: 300px;
    height: 400px;
    /* background-color: red; */
    position: absolute;
    top: 210px;
    right: 250px;
}

.privacy .p_cont span {
    font-weight: bolder;
}

.privacy .p_cont>ul {
    font-size: 26pt;
    line-height: 100px;
}

.privacy .p_cont ul li {
    width: 300px;
    height: 20px;
    font-size: 12pt;
    line-height: 30px;
}

/* skill------- */

.skill {
    font-family: thin;
    height: 100vh;
}

.skill_btn {
    position: relative;
    top: 160px;
    left: 160px;
}

.skill_btn ul li {
    float: left;
    margin: 0px 10px;
}

.skill_btn ul li div {
    width: 10px;
    height: 10px;
    background-color: rgb(206, 206, 206);
    transform: rotate(45deg);
    transition: all 0.2s;
    cursor: pointer;
}

.s_line {
    width: 150px;
    border-top: 1px solid gray;
    position: relative;
    top: 50%;
    left: -200px;
    transform: translateY(-50%);
}

.skill_window {
    width: 500px;
    height: 650px;
    /* background-color: red; */
    /* border: 1px solid red; */
    position: relative;
    top: 200px;
    left: 20px;
    overflow: hidden;
    float: left;
}

.skill_all {
    width: 200%;
    font-size: 36pt;
    position: absolute;
    left: 0;
    transition: all 0.6s;
}

.skill_all .skill_1,
.skill_all .skill_2 {
    text-align: right;
    line-height: 80px;
    width: 500px;
    height: 650px;
    /* background-color: royalblue; */
    float: left;
}

.skill_all .skill_1 li,
.skill_all .skill_2 li {
    position: relative;
    left: -26px;
    cursor: pointer;
    font-weight: lighter;
    transition: all 0.4s;
}

.skill_all .skill_2 li:hover {
    left: -5px;
    font-weight: normal;
    letter-spacing: -3pt;
    color: rgb(236, 236, 236);
}

.skill_all .skill_1 li:hover {
    left: -5px;
    font-weight: normal;
    letter-spacing: -3pt;
    color: rgb(236, 236, 236);
}

.skill_cont {
    width: 200px;
    height: 250px;
    /* border: 1px solid blue; */
    position: relative;
    top: 380px;
    left: 180px;
    float: left;
    text-align: center;
}

.skill_cont>ul>li {
    font-size: 50pt;
    text-align: center;
    position: absolute;
    display: none;
}

.skill_cont>ul>li ul li {
    font-size: 12pt;
}

.skill_btn ul li div:hover {
    background-color: rgb(153, 153, 153);
    transform: rotate(225deg);
}

/* web------ */

.web_cont {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.web_cont .web_cont_all {
    position: relative;
    top: 0;
    transition: all 1s;
}

.web_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.web_btn .web_top {
    transform: rotate(45deg);
    margin-bottom: 600px;
    position: relative;
    top: 0;
}

.web_btn .web_bottom {
    transform: rotate(-135deg);
    position: relative;
    top: 0;
}

.web_btn .web_top,
.web_btn .web_bottom {
    width: 40px;
    height: 40px;
    border-top: 1px solid rgb(202, 202, 202);
    border-left: 1px solid rgb(202, 202, 202);
    transition: all 0.4s;
}

.web_cont .web_cont_all button {
    position: relative;
    top: 80px;
    width: 80px;
    height: 30px;
    font-size: 12pt;
    border: 0;
    border-top: 0.1px solid gray;
    border-left: 0.1px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: white;
}

.web_cont .web_cont_all .web_slide_1,
.web_cont .web_cont_all .web_slide_2,
.web_cont .web_cont_all .web_slide_3 {
    height: 100vh;
    padding: 100px 160px;
    box-sizing: border-box;
}

.web_cont .web_cont_all .web_slide_1 h1,
.web_cont .web_cont_all .web_slide_2 h1,
.web_cont .web_cont_all .web_slide_3 h1 {
    font-weight: normal;
    margin-bottom: 12px;
    letter-spacing: -2.4pt;
}

.web_cont .web_cont_all .web_slide_1 h3,
.web_cont .web_cont_all .web_slide_2 h3,
.web_cont .web_cont_all .web_slide_3 h3 {
    font-weight: lighter;
    font-size: 11pt;
    margin-bottom: 40px;
}

.web_cont .web_cont_all .web_slide_1 p,
.web_cont .web_cont_all .web_slide_2 p,
.web_cont .web_cont_all .web_slide_3 p {
    font-weight: lighter;
    font-size: 11pt;
}

.web_cont .web_cont_all .web_slide_1>div:nth-child(1),
.web_cont .web_cont_all .web_slide_2>div:nth-child(1),
.web_cont .web_cont_all .web_slide_3>div:nth-child(1) {
    width: 700px;
    height: 450px;
    /* background-color: fuchsia; */
    position: relative;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    overflow: hidden;
    box-shadow: 0px 0px 26px rgb(230, 230, 230);
}

.web_cont .web_cont_all .web_slide_1>div:first-child img,
.web_cont .web_cont_all .web_slide_2>div:first-child img,
.web_cont .web_cont_all .web_slide_3>div:first-child img {
    position: absolute;
    width: 100%;
}

.web_cont .web_cont_all>div:nth-child(1)>div:nth-child(2),
.web_cont .web_cont_all>div:nth-child(2)>div:nth-child(2),
.web_cont .web_cont_all>div:nth-child(3)>div:nth-child(2) {
    width: 250px;
    height: 200px;
    /* border: 1px solid red; */
    position: relative;
    top: 340px;
    right: -340px;
    transform: translateY(-50%);
    float: left;
}

.web_cont .web_cont_all>div:nth-child(1)>div:nth-child(2) h1 {
    font-size: 18pt;
}

.web_cont .web_cont_all>div:nth-child(1)>h1 {
    font-size: 18pt;
}

.web_btn .web_top:hover {
    border-top: 1px solid rgb(83, 83, 83);
    border-left: 1px solid rgb(83, 83, 83);
    top: -10px;
}

.web_btn .web_bottom:hover {
    border-top: 1px solid rgb(83, 83, 83);
    border-left: 1px solid rgb(83, 83, 83);
    top: 10px;
}

/* .web_cont .web_cont_all>div:nth-child(2) {
    background-color: pink;
} */

/* .web_cont .web_cont_all>div:nth-child(3) {
    background-color: firebrick;
} */

/* edit------- */
/* es_1 */

.edit_cont {
    height: 100vh;
}

.edit_slide_all {
    width: 1100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
}

.edit_slide_1 {
    width: 550px;
    height: 720px;
    overflow: hidden;
    /* background-color: blue; */
    float: left;
}

.edit_slide_1>li {
    width: 550px;
    height: 240px;
    /* background-color: blueviolet; */
}

.es_window_1 {
    width: 550px;
    height: 240px;
    overflow: hidden;
}

.eslide_1 {
    width: 300%;
    position: relative;
    left: 0;
    transition: all 0.4s;
}

.eslide_1>li {
    width: 550px;
    height: 240px;
    background-color: crimson;
    float: left;
}

/* es_2 */

.es_window_2 {
    width: 275px;
    height: 240px;
    overflow: hidden;
    float: left;
}

.eslide_2 {
    height: 200%;
    position: relative;
    top: 0;
    transition: all 0.5s;
}

.eslide_2 ul {
    width: 275px;
    height: 480px;
}


.eslide_2 li {
    width: 275px;
    height: 240px;
    background-color: cyan;
}

.eslide_2 li:nth-child(2) {
    background-color: azure;
}

/* es_3 */

.es_window_3 {
    width: 275px;
    height: 240px;
    overflow: hidden;
    float: left;
}

.eslide_3 {
    width: 200%;
    position: relative;
    right: 0;
    transition: all 0.5s;
}

.eslide_3 ul {
    width: 555px;
    height: 240px;
}

.eslide_3 li {
    width: 275px;
    height: 240px;
    background-color: darkcyan;
    float: left;
}

/* es_4 */

.es_window_4 {
    width: 275px;
    height: 240px;
    overflow: hidden;
    float: left;
}

.eslide_4 {
    width: 200%;
    position: relative;
    left: 0;
    transition: all 0.8s;
}

.eslide_4 ul {
    width: 555px;
    height: 240px;
}

.eslide_4 li {
    width: 275px;
    height: 240px;
    background-color: tomato;
    float: right;
}

/* es_5 */

.es_window_5 {
    width: 275px;
    height: 240px;
    overflow: hidden;
    float: left;
}

.eslide_5 {
    height: 200%;
    position: relative;
    top: 0;
    transition: all 0.4s;
}

.eslide_5 li {
    width: 275px;
    height: 240px;
    background-color: palegreen;
}

/* es_6 */

.edit_slide_2 {
    width: 550px;
    height: 720px;
    overflow: hidden;
    /* background-color: red; */
    float: left;
}

.es_window_6 {
    width: 550px;
    height: 600px;
    overflow: hidden;
    /* background-color: pink; */
    float: left;
}

.eslide_6 {
    width: 300%;
    position: relative;
    left: 0;
    transition: all 5s;
}

.eslide_6 li:nth-child(1) {
    width: 550px;
    height: 600px;
    background-color: plum;
    float: left;
}

.eslide_6 li:nth-child(2) {
    width: 550px;
    height: 600px;
    background-color: palevioletred;
    float: left;
}

.eslide_6 li:nth-child(3) {
    width: 550px;
    height: 600px;
    background-color: powderblue;
    float: left;
}


/* es_7 */

.es_window_7 {
    width: 550px;
    height: 120px;
    overflow: hidden;
    /* background-color: powderblue; */
    float: left;
}

.eslide_7 {
    height: 300%;
    position: relative;
    top: 0;
    transition: all 0.6s;
}

.eslide_7 li {
    width: 550px;
    height: 120px;
    background-color: purple;
}

/* footer------- */

footer {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: none;
    transition: all 0.4s;
}

.line_1 {
    position: absolute;
    top: -350px;
    left: 145px;
    width: 700px;
    height: 700px;
    border-bottom: 0.1px solid gray;
    transform: rotate(45deg);
}

.line_2 {
    position: absolute;
    bottom: 140px;
    right: -355px;
    width: 700px;
    height: 700px;
    border-bottom: 0.1px solid gray;
    transform: rotate(45deg);
}

.footer_p {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: -1.2px;
}

.footer_p h2 {
    margin-bottom: 8px;
    font-weight: lighter;
}

.footer_p h1 {
    line-height: 32px;
    font-weight: lighter;
}

.footer_p h1:nth-child(3) {
    margin-bottom: 24px;
    font-size: 23pt;
}